services:
  api1:
    image: cloud
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8080

  api2:
    image: cloud
    ports:
      - "8081:8081"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8081